# Python Day-2

In today's session we will learn 
about primitive datatypes in python , types of errors , Mathematical operations, Number manipulation and f strings

#### Datatypes in Python

##### 1) Strings

as we saw yesterday string is a text data used in python which we can refer to
today we will see various operations on datatypes starting with string 
there is a fundamental concept of indexing in programing language 
for example every piece of data is stored with indices which helps the computer or system to recall particular data 
we will see examples of indexing on string below

In [4]:
print("Hello"[0])

H

indexing starts from 0 to n length of data we need to specify index in [] brackets 
This helps the computer to fetch and refer data faster

notice if we do not count the index from 0 then what happens
see for yourself

In [3]:
print("Hello"[1])

e

but what if we use negative indices? would it work like the same as the positive ones 
lets see using one below

In [5]:
print("Hello"[-1])

o

As you saw it gave us the last value from the data 
therefore the negative indices indicates the data from the last
which begins with -1 to -n length of data

#### 2) Integers

Intergers are another datatype used in python to use the numbers for various operations
In Python, the int data type represents integers, which are whole numbers without any fractional or decimal components. This includes positive numbers, negative numbers, and zero

if i want to add 2 numbers via print statement will it be executed easily or is there a catch
lets see below with an example

In [6]:
print("123" + "345")

123345

As expected this became string concatenation even though we used whole numbers inside the print block
so what do you think would give use the mathematical answer for the question
let me show you how its done using integers

In [7]:
print(123 + 345)

468

In this case we did not use " inside the print block which did not make it a string 
also, python is a high level language it understands the datatype mentioned as integer
so no need to declare the value or variable having integer value we can directly use them

##### Note :- If we are dealing with large integer numbers we use commas (,) in real life for better understanding but we cannot use comma in python hence we use underscore (_) to specify integer size

In [8]:
print(123_345_567)

123345567

#### 3) FLoat

In Python, the float data type represents floating-point numbers, which are real numbers with a fractional component. This means they include a decimal point, distinguishing them from integers.

In [9]:
print(3.12321)

3.12321

float and integer can be exactly treated as same the difference is decimal points

#### 4) Boolean

In Python, the boolean data type, represented by the class bool, is a fundamental data type that can hold one of two possible values: True or False. These values are used to represent the truthfulness or falsehood of an expression or condition.

In [10]:
print(True)

True

In [11]:
print(False)

False

#### Type Error, Type Checking and Type Conversion

A TypeError in Python is a built-in exception that occurs when an operation or function is applied to an object of an inappropriate or unsupported type. This means that the data types involved in an operation are not compatible with each other, or a function expects a specific data type but receives a different one.

for example lets use len() function on a integer to see if it can give us the length of a integer

In [12]:
print(len(12334566))

TypeError: object of type 'int' has no len()

As you saw this gave us a TypeError indicating that object of type 'int' has no len()
that means len() does not work on type integer

how can we fix this error and make the code run 
to make sure len() does not give us error we need to convert the datatype suitable for the function
how about string lets give it a try below

In [13]:
print(len("123456789"))

9

But lets say how will we know what is the type of a particular data i mean its visibily easy to tell a string as it has "" but 
what about other datatypes 
lets see how we will check datatypes

In [17]:
type("Hello")

str

In [18]:
type(123)

int

In [19]:
type(123.123)

float

In [20]:
type(True)

bool

As you saw it exactly tells us the datatype of each data this is called Type Checking

Now what if we aren't happy with the assigned datatype 
What if we want to convert a piece of data into different data type
Well then we need to learn about something called Type Conversion ,aslo known as type casting

Lets see a basic type conversion 
we will convert string to integer

In [21]:
print(int("123") + int("456"))

579

As you saw even with "" the strings did not combine or concatenate but, rather it became integer addition 
hence the datatype string was converted to integer

but we cannot converting any type of data to anything we can only convert specific type of data from type to another 
lets see via example from below

In [22]:
print(int("abc") + ("123"))

ValueError: invalid literal for int() with base 10: 'abc'

As you saw we cannot convert "abc" to integer because they do not exist in the integer datatype 
hence only valid data from other datatype can be converted

#### Mathematical Operations in Python

There are various types of mathematical operations in python 
lets see all of them with an example for each given below

##### 1) Addition

In [28]:
A = 10
B = 20 
C = A + B
print(C)

30

##### 2) Subtraction

In [29]:
A = 20
B = 10
C = A - B
print(C)

10

##### 3) Multiplication

In [31]:
A = 2
B = 4
C = A * B
print(C)

8

##### 4) Division

In [32]:
A = 4
B = 2
C = A / 2
print(C)

2.0

##### 5) Floor Division
Rounds off the float to nearest integer

In [33]:
A = 7
B = 2
C = A//B
print(C)

3

##### 6) Square

In [34]:
A = 4
B = 2
C = A**B
print(C)

16

##### PEMDAS Rule:-
In Python the Mathematical operations follow PEMDAS rule unlike BODMAS in real life Maths
P - Parentheses
E - Exponent
M - Multiplication
D - Division
A - Addition
S - Subtraction

ever wondered if we get the output in float and havent use any floor division and conversion how would we get nearest integer
lets see using a function given by python in below example

In [40]:
bmi = 90/1.68 ** 2
print(round(bmi))

32

This is known as Number manipulation ,Number manipulation in Python encompasses various operations and techniques for working with numerical data types, including integers, floats, and complex numbers